// hot colors

$hotred: #dd371b;

html,
body,
#app {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: Archivo;
}

.hover-pointer {
    &:hover {
        cursor: pointer;
    }
}

.infobox {
  position: absolute;
  text-align: right;
  top: 10px;
  right: 10px;
  max-width: 510px;

  & > div {
    display: block;
    background: #fff;
    border-radius: 3px;
  }

  & .heading {
    font-weight: bold;
    margin-bottom: 0.35em;
    font-size: 1.3em;
    text-decoration: underline;
    text-underline-offset: 5px;
  }

  & .text {
    line-height: 1.2;
  }

  & .title {
    img {
      vertical-align: middle;
      height: 40px;
      transform: translateY(-5px);
      margin-right: 10px;
    }

    display: inline-block;
    font-family: "Barlow Condensed";
    font-size: 2.3em;
    padding: 8px 14px;
    margin-bottom: 0.5em;
  }

  .summary {
    padding: 6px 10px;
    font-size: 11pt;
    text-align: left;
    margin-bottom: 1em;
  }

  .source {
    text-align: right;
    margin: 0.1em 0 0 0;
    font-size: 0.7em;
    font-style: italic;
  }

  .timeline {
    padding: 8px 10px 10px 10px;
    margin: 20px 0;

    .play {
        vertical-align: text-bottom;
        width: 10%;
        display: inline-block;
        text-align: left;
        line-height: 40px;
        height: 40px;

        &:hover {
            cursor: pointer;
        }
    }

    .slider {
      height: 35px;
      width: 80%;
      display: inline-block;
      padding: 0 20px;
    }
  }

  .stats {
      background: #fff;
      display: flex;
      flex-direction: row;
      padding-bottom: 5px;
      border-bottom: 1px solid #ccc;
      margin-bottom: 20px;

      & .stat {
          width: 25%;
          text-align: center;
          padding: 8px 0 12px 0;

          & .number {
              font-family: "Barlow Condensed";
              font-size: 1.8em;

              &.percent {
                  &:after {
                      content: "%";
                      display: inline;
                  }
              }
          }

          & .name {
              font-size: 0.8rem;
          }
      }
  }
}

.loading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        height: 160px;
    }

    .message {
        text-align: center;
        font-family: "Barlow Condensed";
        font-size: 1.6em;
        color: #fff;
    }
}